/* Default styles for all screen sizes */
.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    ;
  }
  
  .pink {
    background-color: #ff69b4;
  }
  
  .red {
    background-color: #ff0000;
  }
  /* hidden*/
  .grey {
    background-color: none;
  }
  /* hidden*/
  .brown {
    background-color: none;
  }
  
  /* Media query for screens larger than 640px */
  @media screen and (min-width: 641px) {

    .column {
      flex-basis: 25%;
      
    }
  
    .pink {
      display: block;
      background-color: #0000ff;
    }
  
    .red {
      display: block;
      background-color: #800080;
    }
  
    .grey {
      display: block;
      background-color: #a9a9a9;
    }
  
    .brown {
      display: block;
      background-color: #8b4513;
    }
  }
  